body {
  font-family: "Ubuntu", sans-serif;
  background-color: #82d589;
  color: #1d0b0b;
}
.container {
  background-color: #1ea229;
  border: 3px solid #0b522b;
  box-shadow: 3px 3px 18px #dfcfd8;
  border-radius: 10px;
  max-width: 400px;
  margin-top: 60px;
}

h1 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

h2 {
  color: #0a0404;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
}

.colors {
  color: #1d0b0b;
  text-decoration: underline;
}

p {
  color: #0a0404;
  background-color: #34ce40;
  text-align: justify;
}

#currency-code,
#currency-symbol {
  background-color: #01f45a;
}

#currency-name {
  background-color: #01f45a;
  margin-right: 20px;
}
